#footer{
    background: linear-gradient(rgb(57, 105, 207),rgb(81, 161, 207));
    text-align: center;
    padding: 1vh 0;
    width: 100vw;
    max-width: 100vw;
}   
body{
    background-color: rgb(31, 49, 82);
    align-items: center;
}
.form{
    background: rgb(44, 72, 124);
    text-align: center;
    margin: 4vh auto 0 auto;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 2vh;
}
#jogo{
    background: rgb(41, 60, 88);
    margin: 0.5vh 0.12vh;
}
#res{
    background: rgb(44, 72, 124);
}
a{
    color: rgb(135, 206, 235);
    text-decoration: none;
}
input::placeholder {
    color: rgb(168, 216, 255);
}
hr{
    border: 3px solid #8abaff;
}